
<html>
<head></head>
<body>
    <h3> Health Insurance Premium Calculator </h3>
    
    <form action="/iris" method="POST">
        Enter the age:
        <input type="text" name="age"> <br> <br>
        Enter the sex::
        <input type="text" name = 'sex'> <br> <br>
        Enter the bmi: :
        <input type="text" name = 'bmi'> <br> <br>
        Enter the children:
        <input type="text" name = 'children'> <br> <br>
        Enter the smoker:
        <input type="text" name = 'smoker'> <br> <br>  
        <input type="submit">
    </form>
    <p> {{"Health Insurance Premium is",result}}</p>
</body>
</html>